/*maqueto con flex*/

.div--contacto {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    gap: 30px;

    /*agrego gradiente*/
    .div__form--contacto {
        background-image: radial-gradient(rgb(106, 6, 113), $color);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 550px;
        width: 400px;
        gap:20px;
        padding: 20px;
    }
}