/*maqueto con flex*/

.div--contacto {
    display: flex;
    margin-left: 50px;
    gap: 30px;

    /*agrego gradiente*/
    .div__form--contacto {
        background-image: radial-gradient($color, black);
        display: flex;
        flex-direction: column;
        gap:20px;
        padding: 20px;
    }
 
   .div__img--contacto{
    height: 450px;
    width: 550px;
   }
}