/*agrego mixin, maqueto con grid y flex*/

@mixin tamaño ($height, $widht){
  height: $height;
  width: $widht;
}

.section1--conocenos {
    display: grid;
    grid-template-areas: "foto1 foto3 foto5" "foto2 foto3 foto6" "foto2 foto4 foto6";
    margin: $margin;
    gap: 10px;

  .section1__img1 {
    grid-area: foto1;
    @include tamaño (300px,400px)
    }

  .section1__img2 {
    grid-area: foto2;
    @include tamaño (610px,400px)
  }

  .section1__img3 {
    grid-area: foto3;
    @include tamaño (610px,400px)
  }

  .section1__img4 {
    grid-area: foto4;
    @include tamaño (300px,400px)
  }

  .section1__img5 {
    grid-area: foto5;
    @include tamaño (300px,400px)
  }

  .section1__img6 {
    grid-area: foto6;
    @include tamaño (610px,400px)
  }
}

.div--conocenos{
  display: flex;
  justify-content: center;
  margin: $margin;

      .div__h3--conocenos {
      font-size: 40px;
      font-weight: bold;
      }
}


.section2--conocenos {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.div__conocenos {
    display: flex;
    justify-content: center;
    margin: $margin;
    
      .div__h3--conocenos {
        font-size: 40px;
        font-weight: bold;
      }
}

