.section--donde {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $margin;
}


.section__div--mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    background-image: radial-gradient(rgb(106, 6, 113), $color);
    border-radius: 15px;
    gap: 20px;
    padding: 30px;
    
    .section__iframe--mapa{
        height: 400px;
        width: 500px;
    }
}


