@charset "UTF-8";
/*agrego variables*/
.section1--index {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.section1--index .section1__h2--index {
  font-family: "Times New Roman", Times, serif;
  font-size: 100px;
  margin-left: 30px;
}
.section1--index .section1__h1--index {
  font-size: 50px;
  margin-left: 30px;
}
.section1--index .section1__img--index {
  height: -moz-max-content;
  height: max-content;
}

.section2__div1--index {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  margin-top: 30px;
  background-image: radial-gradient(rgb(106, 6, 113), rgb(26, 12, 22));
}
.section2__div1--index .section2__img1--index {
  height: 500px;
  width: 700px;
}
.section2__div1--index .section2__span--index {
  font-family: "Times New Roman", Times, serif;
}

.section2__div2--index {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-top: 30px;
  gap: 50px;
}
.section2__div2--index .section2__img2--index {
  height: 280px;
  width: 350px;
}

/*agrego mixin, maqueto con grid y flex*/
.section1--conocenos {
  display: grid;
  grid-template-areas: "foto1 foto3 foto5" "foto2 foto3 foto6" "foto2 foto4 foto6";
  margin: 30px;
  gap: 10px;
}
.section1--conocenos .section1__img1 {
  grid-area: foto1;
  height: 300px;
  width: 400px;
}
.section1--conocenos .section1__img2 {
  grid-area: foto2;
  height: 610px;
  width: 400px;
}
.section1--conocenos .section1__img3 {
  grid-area: foto3;
  height: 610px;
  width: 400px;
}
.section1--conocenos .section1__img4 {
  grid-area: foto4;
  height: 300px;
  width: 400px;
}
.section1--conocenos .section1__img5 {
  grid-area: foto5;
  height: 300px;
  width: 400px;
}
.section1--conocenos .section1__img6 {
  grid-area: foto6;
  height: 610px;
  width: 400px;
}

.div--conocenos {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.div--conocenos .div__h3--conocenos {
  font-size: 40px;
  font-weight: bold;
}

.section2--conocenos {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}

.div__conocenos {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.div__conocenos .div__h3--conocenos {
  font-size: 40px;
  font-weight: bold;
}

.section--donde {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.section__div--mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  background-image: radial-gradient(rgb(106, 6, 113), rgb(26, 12, 22));
  border-radius: 15px;
  gap: 20px;
  padding: 30px;
}
.section__div--mapa .section__iframe--mapa {
  height: 400px;
  width: 500px;
}

.div--carrito {
  display: flex;
  justify-content: center;
}
.div--carrito .div__form {
  background-image: radial-gradient(rgb(106, 6, 113), rgb(26, 12, 22));
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  height: 500px;
  width: 400px;
  padding: 10px;
}
.div--carrito .div__p--carrito .bastardilla {
  font-style: italic;
  font-size: 20px;
}

/*maqueto con flex*/
.div--contacto {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  gap: 30px;
  /*agrego gradiente*/
}
.div--contacto .div__form--contacto {
  background-image: radial-gradient(rgb(106, 6, 113), rgb(26, 12, 22));
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 550px;
  width: 400px;
  gap: 20px;
  padding: 20px;
}

/*página fechas tiene el style por bootstrap*/
* {
  margin: 0;
  bottom: 0;
}

.cuerpo {
  background-color: black;
  color: cornsilk;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: 30px;
}
.cuerpo .titulos {
  font-size: 70px;
  margin: 20px;
}

.footer {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 50px;
  padding-top: 50px;
}
.footer .footer__img {
  color: cornsilk;
}
.footer .footer__img:hover {
  color: rgb(26, 12, 22);
  transform: scale(1.15);
}
.footer .footer__h4 {
  margin: 10px;
}

.button {
  height: 50px;
  width: 80px;
  background-color: rgb(65, 57, 57);
  color: cornsilk;
  font-weight: bold;
  border-radius: 15px;
  /*agrego transciones y &*/
}
.button:hover {
  background-color: cornsilk;
  color: rgb(65, 57, 57);
  transform: scale(1.15);
}

@media (max-width: 768px) and (min-width: 579px) {
  .section1--index {
    align-items: center;
  }
  .section1--index .section1__h1--index {
    font-size: 30px;
  }
  .section1--index .section1__h2--index {
    font-size: 60px;
  }
  .section1--index .section1__img--index {
    height: 430px;
    width: 500px;
  }
  .section2__div1--index {
    flex-direction: column-reverse;
  }
  .section2__div1--index .section2__img1--index {
    padding-left: 50px;
    height: 370px;
    width: 470px;
  }
  .section1--conocenos {
    grid-template-areas: "foto2 foto1" "foto2 foto5" "foto3 foto6" "foto3 foto4";
  }
  .section1--conocenos .section1__img1 {
    grid-area: foto1;
    height: 250px;
    width: 290px;
  }
  .section1--conocenos .section1__img2 {
    grid-area: foto2;
    height: 550px;
    width: 290px;
  }
  .section1--conocenos .section1__img3 {
    grid-area: foto3;
    height: 550px;
    width: 290px;
  }
  .section1--conocenos .section1__img4 {
    grid-area: foto4;
    height: 250px;
    width: 290px;
  }
  .section1--conocenos .section1__img5 {
    grid-area: foto5;
    height: 250px;
    width: 290px;
  }
  .section1--conocenos .section1__img6 {
    grid-area: foto6;
    height: 350px;
    width: 290px;
  }
  .section--donde .section__div--mapa {
    width: 460px;
  }
  .section--donde .section__div--mapa .section__iframe--mapa {
    height: 300px;
    width: 420px;
  }
  .carousel-inner .carousel-item .carousel__img {
    height: 550px;
    width: 480px;
  }
  .div--contacto {
    flex-direction: column;
    margin-left: 30px;
  }
  .div--carrito {
    flex-direction: column;
    margin-left: 30px;
  }
}
@media (max-width: 578px) {
  .cuerpo {
    font-size: 25px;
    font-weight: bold;
  }
  .cuerpo .titulos {
    font-size: 30px;
  }
  .footer {
    padding-right: 10px;
    padding-top: 15px;
  }
  .footer .footer__h4 {
    font-size: 25px;
  }
  .section1--index {
    align-items: flex-start;
    margin-left: 5px;
  }
  .section1--index .section1__h2--index {
    font-size: 30px;
    font-weight: bold;
    padding: 0;
  }
  .section1--index .section1__h1--index {
    font-size: 25px;
    margin-left: 7px;
    padding: 0;
  }
  .section1--index .section1__img--index {
    height: 310px;
    width: 290px;
    margin-left: 5px;
  }
  .section2__div1--index {
    flex-direction: column-reverse;
    align-items: center;
    width: 300px;
    margin: 5px;
    padding: 0;
  }
  .section2__div1--index .section2__img1--index {
    height: 250px;
    width: 270px;
  }
  .section2__div1--index .section2__span--index {
    font-size: 20px;
  }
  .section2__div2--index {
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }
  .section2__div2--index .section2__img2--index {
    height: 200px;
    width: 250px;
  }
  .section2__div2--index {
    flex-direction: column;
    gap: 20px;
    margin: 10px;
  }
  .section1--conocenos {
    grid-template-areas: "foto1" "foto2" "foto4" "foto3" "foto5" "foto6";
    gap: 20px;
    margin: 30px;
    justify-content: center;
  }
  .section1--conocenos .section1__img1 {
    grid-area: foto1;
    height: 200px;
    width: 250px;
  }
  .section1--conocenos .section1__img2 {
    grid-area: foto2;
    height: 400px;
    width: 250px;
  }
  .section1--conocenos .section1__img3 {
    grid-area: foto3;
    height: 400px;
    width: 250px;
  }
  .section1--conocenos .section1__img4 {
    grid-area: foto4;
    height: 200px;
    width: 250px;
  }
  .section1--conocenos .section1__img5 {
    grid-area: foto5;
    height: 200px;
    width: 250px;
  }
  .section1--conocenos .section1__img6 {
    grid-area: foto6;
    height: 400px;
    width: 250px;
  }
  .section2--conocenos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
  }
  .section2--conocenos .section2__iframe {
    height: 300px;
    width: 200px;
  }
  .div--conocenos {
    margin: 10px;
    justify-content: flex-start;
  }
  .div--conocenos .div__h3--conocenos {
    font-size: 20px;
  }
  .section--donde {
    margin: 10px;
  }
  .section--donde .section__div--mapa {
    padding-left: 10px;
    padding-top: 10px;
    width: 280px;
  }
  .section--donde .section__div--mapa .section__iframe--mapa {
    height: 300px;
    width: 250px;
  }
  .carousel-inner .carousel-item .carousel__img {
    height: 350px;
    width: 280px;
  }
  .div--carrito {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    gap: 30px;
  }
  .div--carrito .div__form {
    width: 280px;
  }
  .div--contacto {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    gap: 30px;
  }
  .div--contacto .div__form--contacto {
    width: 280px;
  }
  .div--contacto .div__form--contacto .form__div--boton {
    justify-items: center;
  }
}/*# sourceMappingURL=main.css.map */